* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

body {
  font-family: "Nova Square";
  background: #F4F4F4;
}

.btn-primary{
  background: #3C38FF;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  padding: 8px 20px;
}